@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Han;
  src: local('Han'),
    url('../assets/fonts/SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: Han;
  src: local('Han'),
    url('../assets/fonts/SourceHanSansCN-Medium.otf') format('opentype');
  font-weight: 500;
}

:root {
  font-family: Han, Inter, Avenir, Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 24px;

  color: rgba(57, 53, 53, 0.87);
  background-color: #f5f7fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
